body{
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    font-family: 'Ubuntu', serif;
    font-size: 20px;
    outline:none;

}
.grid-container{
        width: 100%;  
        overflow: hidden;
   
    }

    /*--  cleafix  -- */ 
    .row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }
.row{
    padding-bottom: 30px;
}
    [class*='col-'] {
        float: left; 
        min-height: 1px; 
        width: 16.66%; 
        /*-- gutter -- */
        padding: 0px; 
        
    }
@media  screen and (min-width:  150px) {
    .col-sd-1 {width: 8.33%;}
    .col-sd-2 {width: 16.66%;}
    .col-sd-3 {width: 25%;}
    .col-sd-4 {width: 33.33%;}
    .col-sd-5 {width: 41.66%;}
    .col-sd-6 {width: 50%;}
    .col-sd-7 {width: 58.33%;}
    .col-sd-8 {width: 66.66%;}
    .col-sd-9 {width: 75%;}
    .col-sd-10 {width: 83.33%;}
    .col-sd-11 {width: 91.66%;}
    .col-sd-12 {width: 100%;}

 }
 @media  screen and (min-width: 640px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

 }

 @media  screen and (min-width: 960px) {
    .col-wd-1 {width: 8.33%;}
    .col-wd-2 {width: 16.66%;}
    .col-wd-3 {width: 25%;}
    .col-wd-4 {width: 33.33%;}
    .col-wd-5 {width: 41.66%;}
    .col-wd-6 {width: 50%;}
    .col-wd-7 {width: 58.33%;}
    .col-wd-8 {width: 66.66%;}
    .col-wd-9 {width: 75%;}
    .col-wd-10 {width: 83.33%;}
    .col-wd-11 {width: 91.66%;}
    .col-wd-12 {width: 100%;}

 }
 @media (max-width: 860px){
    .row{
    padding-bottom: 5px;
}
 }
 @media (max-width: 860px) {
   
  #header nav ul#main-nav li:not(:last-child) a {
    display: none;
}

  #header nav ul#main-nav li:last-child a{
    visibility: visible!important;
    padding: 0px;
  }
}
@media screen and (max-width:860px) {
  .responsive li.icon a{
    position: absolute;
    top: 10%;
    right: 10%;
    float: right;
   
  }
  ul.responsive{
    padding: 100px 0px 0px 0px;
    position: relative;
    -webkit-transition:  300ms linear;
    -moz-transition:  300ms linear;
    -o-transition: 300ms linear;
    transition:  300ms linear;
  
  }
  ul.responsive li{
    display: block!important;
    text-align: right;
  }

  .responsive li:not(:last-child) {
   display: block;
   border-bottom:2px solid #33322E;
 
  }
  .responsive li a {
    display: block!important;
   



  }
}
 #header {
    background: #3D3D3D;
    opacity: 0.9;
    position: fixed;
    z-index: 2;

 }
 #header img{

 }
 #header nav ul#main-nav{
    float: right;
 }
#header nav ul#main-nav li {
    display: inline-block;
    list-style: none;

    
}
#header nav ul#main-nav li a{
    text-decoration: none;
    font-size: 24px;
    color: #FFB501;
    padding: 20px;

}
#header nav ul#main-nav li.icon a{
    color: #FFB501;
    padding: 0px!important;
    float: right!important;
    visibility: hidden;
}
#intro{
    background-image:url("./img/industrial.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:185px 0px 70px 0px; 
}
#intro h1{
   
   margin: auto;
   font-size: 50px;
   text-align: center;
   color: #FCF5DB;
   line-height: 60px; 

   
}
#intro h5{

   margin: auto;
   position: relative;
   
   font-size: 20px;
   text-align: center; 
   color: #FFB501;
   line-height: 40px;
}
#intro div.row ul#info {
   
    position: relative;
}
#intro div.row ul#info li{
    display: inline-block;
    list-style: none;
    margin: auto;
    padding: 20px;
    
    color: #FCF5DB;
    font-size:40px;
    font-weight: bold;
    text-align: center;
    
    
}
#intro div.row ul#info li p{
    font-size: 20px;
    text-align: center;

}
#intro div.row ul#info li:hover{
    color: #FFB501; 
    -webkit-transition: all 300ms ease-in-out;
    -webkit-transform: scale(1.2); 
    -ms-transition: all 300ms ease-in-out;
    -ms-transform: scale(1.2); 
    -moz-transition: all 300ms ease-in-out;
    -moz-transform: scale(1.2);
    transition: all 300ms ease-in-out;
    transform: scale(1.2);   
}
#intro div.row div.thumb-left,div.thumb-center, div.thumb-right {
    display: inline-block;

    background-color: #FFB501;
    opacity: 0.5;
    padding: 10px!important;
    margin: 10px 0px 0px 0px;
    width: 180px;
    opacity: 0.6;
       -webkit-transition: opacity 500ms;
       -moz-transition: opacity 500ms;
       -o-transition: opacity 500ms;
       transition: opacity 500ms;
}
#intro div.row div.thumb-left:hover,div.thumb-center:hover, div.thumb-right:hover{
    opacity: 1;
}
#intro div.row div.thumb-left p,div.thumb-center p, div.thumb-right p{
    text-align: center;
   
}

#ourWork{
    background-image:url("./img/aboutUs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:240px 0px 30px 0px; 
    margin: 3px 0px 0px 0px;
}
#ourWork h1{
  
   font-size: 50px;
   text-align: center;
   color:#FFB501;
   line-height: 60px; 

}
#ourWork p.aboutUs-info{
    font-size: 24px;
    font-style: italic;
    text-align: initial;
    line-height: 40px;
    color: #fff;
    padding: 20px;
    float: right;

}
#ourWork a.btn-read-more{
    text-decoration: none;
    background-color: #FFB501;
    color: #000;
    padding: 20px;
    font-size: 28px;
    text-align: center;
    border-radius:10px;
    float: right;

    opacity: 0.6;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
#ourWork a.btn-read-more:hover{
    opacity: 1;
}
#clients{
    background-image:url("./img/clients.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:130px 0px 30px 0px; 
    margin: 3px 0px 0px 0px;
}
#clients header h3{
    font-size: 250%;
    font-weight: bolder;
    text-align: center;
    color: #FFB501;

}
ul.clients-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
ul.clients-list li {
  display: inline-block;
  
  position: relative;
  width: 350px;
  height: 220px;
  padding: 0px 10px 0px 0px;
}

#clients img.clients-img{
    margin: auto;
    padding: 5px;
    width: 328px;
    height: 220px;
}
span.clients-text {
  background: rgba(0,0,0,0.5);
  color: #FFB501 ;
  cursor: pointer;
  display: table;
  height: 220px!important;
  left: 3%;

  position: absolute;
  top: 2.1%;
  width: 91.2%;
  opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
span.clients-text span{
 
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  
}
q {
  quotes: "“" "”" ;
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}
ul.clients-list li:hover span.clients-text {
  opacity: 1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 10px solid #FFB501 ;
    -webkit-transition:  300ms linear;
    -moz-transition:  300ms linear;
    -o-transition: 300ms linear;
    transition:  300ms linear;

  
}
#contact{
    padding:130px 0px 30px 0px; 
    margin: 3px 0px 0px 0px;
    background-color: #C1C1C1!important;
}
#contact h3#contact-header{
    font-size: 60px;
    color: #3D3D3D;

    text-align: center;
}
#contact #contact-form .form-style{
    margin: 20px 0px 20px 0px;

}

#contact #contact-form #contact-name, #contact-email, #contact-subject{
    padding: 20px 0px 20px 0px;
    width: 30%;
    height: 60%;
    border:3px solid #fff;
    border-radius: 25px;
    background: #3D3D3D;
    opacity: 0.5;
    color: white;
    font-size: 18px;
}
#contact #contact-form #contact-text{
    width: 91.5%;
    border:3px solid #fff;
    border-radius: 25px;
    background: #3D3D3D;
    opacity: 0.5;
    outline:none;
    
}
#contact h3{
    font-size: 30px;
    color: #3D3D3D;
    text-align: center;
}
#contact a{
     color: #3D3D3D;
    font-size: 100%;
}
.contact-active{
    background:#EAEAEA!important;
    border:3px solid #3D3D3D!important;
    color: #242426!important;
    outline:none;
}
#footer{
    padding:130px 0px 30px 0px; 
    margin: 3px 0px 0px 0px;
}
#footer #company-name a{
    text-decoration: none;
    color: #3D3D3D;
    font-size: 240%;
}
#footer #company-links span{
    margin-bottom: 25px;
}
#footer #company-links span a{
    display:block;
    padding-bottom: 10px;
}
#footer #company-links span, #footer a, #footer #company-address span{
    
    color: #3D3D3D;
    font-size: 100%;
}
